{% macro material_list(material, symbolic, document) %}
    <a href="/{{material}}/{{document['_id']}}"><h2 class="row">{{document['primary'][1]}}</h2></a>
    <a href="/{{material}}/{{symbolic}}/{{document['type']}}">({{document['symbolic']}})</a>
    <br />
    {% if document['secondary'] is not none %}
        <h3 class="row"><b>{{document['secondary'][0]}}:</b> {{document['secondary'][1]}}</h3>
        <br />
    {% endif %}
    {% for key, value in document['tertiary'] %}
        <u>{{key}}</u> {{value}}{% if not loop.last %} |{% endif %}
    {% endfor %}
    <hr />
{% endmacro %}

{% macro symbolic_list(symbolic, document) %}
    <a href="/{{symbolic}}/{{document['_id']}}"><h2 class="row">{{document['name']}}</h2></a>
    <br />
    {% if document['primary'] is not none %}
        <h3 class="row"><b>{{document['primary'][0]}}:</b> {{document['primary'][1]}}</h3>
        <br />
    {% endif %}
    {% if document['secondary'] is not none %}
        <h3 class="row"><b>{{document['secondary'][0]}}:</b> {{document['secondary'][1]}}</h3>
        <br />
    {% endif %}
    {% for key, value in document['tertiary'] %}
        <u>{{key}}</u>: {{value}}
        <br />
    {% endfor %}
    <hr />
{% endmacro %}