{% extends "base.html.j2" %}

{% block css %}
    <link rel="stylesheet" href="/static/form.css">
{% endblock css %}

{% block content %}
    {% if error is defined %}
        {{error|safe}}
    {% endif %}

    <form action="/{{material}}/{{document['_id']}}/edit" method="POST">
        <table>
        <tr>
            <th style="text-align:center;">Field</th>
            <th style="text-align:center;">Value</th>
        </tr>
        {% for field in document['fields'] %}
            {% set parameters = field["parameters"] %}
            {% set required = (parameters and "required" in parameters and parameters["required"]) %}
            <tr>
                <td>{{field["name"]}} {% if required %}<span style="color:red">*</span>{% endif %}</td>
                <td>
                {% if field['type'] == "boolean" %}
                    <input
                        type="checkbox"
                        id="{{field['name']}}"
                        name="{{field['name']}}"
                        value="{{field['name']}}"
                        {% if field['value'] %}checked{% endif %}
                        {% if required %}required{% endif %}
                    />

                {% elif field['type'] == "string" %}
                    <input
                        type="text"
                        id="{{field['name']}}"
                        name="{{field['name']}}"
                        value="{{field['value']}}"
                        {% if required %}required{% endif %}
                    />

                {% elif field['type'] == "integer" %}
                    <input
                        type="number"
                        id="{{field['name']}}"
                        name="{{field['name']}}"
                        value="{{field['value']}}"
                        step="1"
                        {% if "min" in parameters %}min="{{parameters['min_value']}}"{% endif %}
                        {% if "max" in parameters %}max="{{parameters['max_value']}}"{% endif %}
                        {% if required %}required{% endif %}
                    />

                {% elif field['type'] == "decimal" %}
                    <input
                        type="number"
                        id="{{field['name']}}"
                        name="{{field['name']}}"
                        value="{{field['value']}}"
                        {% if "precision" in parameters %}step="0.{{'0'*((parameters['precision']|int)-1)}}1"{% else %}step="0.01"{% endif %}
                        {% if "min" in parameters %}min="{{parameters['min_value']}}"{% endif %}
                        {% if "max" in parameters %}max="{{parameters['max_value']}}"{% endif %}
                        {% if required %}required{% endif %}
                    />

                {% elif field['type'] == "date" %}
                    {% if parameters['date_format'] in ["%y", "%Y"] %}
                        <input
                            type="text"
                            id="{{field['name']}}"
                            name="{{field['name']}}"
                            value="{{field['value']}}"
                            pattern="[0-9]{% if parameters['date_format'] == '%y' %}{2}{% else %}{4}{% endif %}"
                        {% if required %}required{% endif %}
                        />
                    {% else %}
                        <input
                            type="date"
                            id="{{field['name']}}"
                            name="{{field['name']}}"
                            value="{{field['value']}}"
                        {% if required %}required{% endif %}
                        />
                    {% endif %}

                {% elif field['type'] == "list" %}
                    <input
                        type="string"
                        id="{{field['name']}}"
                        name="{{field['name']}}"
                        value="{{field['value']|join(', ')}}"
                        {% if required %}required{% endif %}
                    />
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <br />
        <button><h3>Update</h3></button>
    </form>
{% endblock %}
