{% extends "base.html.j2" %}
{% from "macro_symbolic_form.html.j2" import symbolic_form %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='form.css') }}">
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', path='symbolic_form.js') }}" defer></script>
{% endblock %}


{% block content %}
    {% if error is defined %}
        {{error|safe}}
    {% endif %}

    <form action="/{{symbolic}}/new" method="POST">
        {% set submit_string = 'Create New '~document["name"]~' Subtype' %}
        {% set x=document.update({"name":""}) %}
        {{ symbolic_form(symbolic, document, submit_string ) }}
    </form>
{% endblock %}
