{% extends "base.html.j2" %}

{% block content %}
	<h2>{{object['name']}}</h2>
	<table class="list">
		<tr><td>Primary</td><td>{{object['primary']}}</td></tr>
		<tr><td>Secondary</td><td>{{object['secondary']}}</td></tr>
		<tr><td>Tertiary</td><td>{{object['tertiary']}}</td></tr>
	</table>
	<br />

	<table>
		<tr><th class="key">Field</th><th style="text-align:center;">Type</th><th>Description</th><th>Parameters</th></tr>
		{% for field in object['fields'] %}
		<tr>
			<td class="key">{{field['name']}}</td>
			<td style="text-align:center;">{{field['type']}}</td>
			<td>{{field['description']}}</td>
			<td>{{field['parameters']}}</td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}
