<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
	{% block head %}
		<title>{% block title %}SPATS{% if title %} - {{ title }}{% endif %}{% endblock %}</title>
		{%- block metas %}
			<meta charset="utf-8">
			<meta name="author" content="Sean Slater">
		{%- endblock metas %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
			<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
			{% block css %}{% endblock css %}
	{% endblock head %}
	{% block body %}
		<div class="container-fluid">
		<header>
			{% block header %}
				<h1>SPATS - Spats Personal Asset Tracking Software<h1>
			{% endblock header %}
		</header>
		<nav>
			{% block nav %}
			<div class="row">|
			<a class="col" href='/'>Home</a> |
			<a class="col" href='/thing'>Things</a> |
			<a class="col" href='/asset'>Assets</a> |
			<a class="col" href='/combo'>Combos</a> |
			<a class="col" href='/group'>Groups</a> |
			</div>
			{% endblock nav %}
		</nav>
		<hr />
		<main>
			{% if stuff is not none %}{{stuff|safe}}{% endif %}
			{% block content %}
			{% endblock content %}
		</main>
		<footer>
			{% block footer %}Spats (c) 2019-2021{% endblock footer %}
		</footer>
		</div>
	{% endblock body %}
{%- endblock html %}
</html>
