{% extends "base.html.j2" %}

{% block content %}
	{% for object in objects %}
		<a href="/t/{{object['_id']}}"><h1 style="display:inline;">{{object['primary']}}</h1></a> 
		<a href="/a/{{object['type']}}"><h3 style="display:inline;">({{object['asset']}})</h3></a>
		<table>
			{% for key, value in object.fields %}
				<tr><td><b>{{key}}:</b> {{value}}</td></tr>
			{% endfor %}
		</table>

		{#
		<a href="/t{{object['id']}}"><h1 style="display:inline;">{{object['primary']['val']}}</h1></a> 
		<a href="/a{{object['type']}}"><h3 style="display:inline;">({{object['type']}})</h3></a>
		{% for secondary in object['secondary'] %}
			<h2>{{secondary['name']}}: {{secondary['val']}}</h2>
		{% endfor %}

		{% for tertiary in object['tertiary'] %}
			<h3>{{tertiary['name']}}: {{tertiary['val']}}</h3>
		{% endfor %}
		<div class="row">
		{% for other in object['other'] %}
			<div class="col-2"><b>{{other['name']}}:</b> {{other['val']}}</div>
		{% endfor %}
		</div>
		#}
		<hr>
	{% endfor %}
{% endblock %}
