{% extends "base.html.j2" %}

{% block content %}
	{% for object in objects %}
		<a href="/thing/{{object['_id']}}"><h2 style="display:inline;">{{object['primary'][1]}}</h2></a> 
		<a href="/asset/{{object['type']}}"><h3 style="display:inline;">({{object['symbolic']}})</h3></a>
		<br />
		{% if object['secondary'] is not none %}
		<h4><b>{{object['secondary'][0]}}:</b> {{object['secondary'][1]}}</h4>
		{% endif %}

		{% for key, value in object['tertiary'] %}
		<h6 style="display:inline;"><b>{{key}}:</b> {{value}}</h6> {% if not loop.last %}|{% endif %}
		{% endfor %}
		<hr>
	{% endfor %}
{% endblock %}
