{% extends "base.html.j2" %}

{% block css %}
{% endblock %}

{% block js %}
<script>
	function remove(arr) {
		var what, a = arguments, L = a.length, ax;
		while (L > 1 && arr.length) {
			what = a[--L];
			while ((ax= arr.indexOf(what)) !== -1) {
				arr.splice(ax, 1);
			}
		}
		return arr;
	}

	function generateDropdown(types, idName, primary=true) {
		types = primary ? types : remove(remove(types, 'Hidden'), 'List')
		html = '<select class="form-control ' + (primary ? '' : idName + '_type_list') + '" id="' + idName + '" name="' + idName + '" ' + (primary ? 'onchange=\'showListSubtypes(this, "' + idName + '_list");\'' : '') + '">'
		types.forEach(t => {
			html += '<option value="' + t + '">' + t + '</option>'
		});
		return html + '</select>'
	}

	function generateRow(types, idName) {
		return '<hr class="' + idName + '_rowinfo"/>' +
		'<div class="form-row ' + idName + '_rowinfo">' +
			'<div class="form-group col-2">' +
				'<label for="' + idName + '_position" name="' + idName + '_position">Position</label>' +
				'<input class="form-control" type="number" id="' + idName + '_position" name="' + idName + '_position" min=2 step=1 placeholder="pos">' +
			'</div>' +
			'<div class="form-group col-4">' +
				'<label for="' + idName + '_name" name="' + idName + '_name">Name</label>' +
				'<input class="form-control" type="text" id="' + idName + '_name" name="' + idName + '_name" placeholder="Name">' +
			'</div>' +

			'<div class="form-group col-3">' +
				'<label for="' + idName + '_type" name="' + idName + '_type">Type</label>' +
				generateDropdown(types, idName+"_type") +
			'</div>' +

			'<div class="form-group col-3 ' + idName + '_type_list" style="display: none;">' +
				'<label class="' + idName + '_type_list" for="' + idName + '_type_list" name="' + idName + '_type_list">List Type</label>' +
				generateDropdown(types, idName+"_type_list", false) +
			'</div>' +
		'</div>' +
		'<div class="form-row ' + idName + '_rowinfo">' +
			'<div class="form-group col-6">' +
				'<label for="' + idName + '_desc" name="' + idName + '_desc">Description</label>' +
				'<input class="form-control" type="text" id="' + idName + '_desc" name="' + idName + '_desc" placeholder="Description">' +
			'</div>' +
			'<div class="form-group col-3">' +
				'<label for="' + idName + '_default" name="' + idName + '_default">Default</label>' +
				'<input class="form-control" type="text" id="' + idName + '_default" name="' + idName + '_default" placeholder="Default">' +
			'</div>' +
			'<div class="form-check form-check-inline col-1">' +
				'<input class="form-check-input" type="checkbox" id="' + idName + '_unique" name="' + idName + '_unique" value="Unique">' +
				'<label class="form-check-label" for="' + idName + '_unique" name="' + idName + '_unique">Unique</label>' +
			'</div>' +
			'<div class="form-check form-check-inline col-1">' +
				'<input class="form-check-input" type="checkbox" id="' + idName + '_required" name="' + idName + '_required" value="Required">' +
				'<label class="form-check-label" for="' + idName + '_required" name="' + idName + '_required">Required</label>' +
			'</div>' +
		'</div>' +
		'<div class="form-row ' + idName + '_rowinfo">' +
			'<div class="col-2">Card Display: </div>' +
			'<div class="form-check form-check-inline col-2">' +
				'<input class="form-check-input" type="radio" id="' + idName + '_display_1" name="' + idName + '_display" value="nodisplay">' +
				'<label class="form-check-label" for="' + idName + '_display_1">No Display</label>' +
			'</div>' +
			'<div class="form-check form-check-inline col-2">' +
				'<input class="form-check-input" type="radio" id="' + idName + '_display_2" name="' + idName + '_display" value="secondary">' +
				'<label class="form-check-label" for="' + idName + '_display_2">Secondary</label>' +
			'</div>' +
			'<div class="form-check form-check-inline col-2">' +
				'<input class="form-check-input" type="radio" id="' + idName + '_display_3" name="' + idName + '_display" value="tertiary">' +
				'<label class="form-check-label" for="' + idName + '_display_3">Tertiary</label>' +
			'</div>' +
			'<div class="form-check form-check-inline col-2">' +
				'<input class="form-check-input" type="radio" id="' + idName + '_display_4" name="' + idName + '_display" value="other">' +
				'<label class="form-check-label" for="' + idName + '_display_4">Other</label>' +
			'</div>' +
			'<button type="button" class="btn btn-primary btn-block col-1" onclick="removerow(' + idName + ')">Remove Row</button>' +
		'</div>'
	}

	// https://stackoverflow.com/a/29321711
	function showListSubtypes(that, idName) {
		if (that.value == "List") {
			$('.' + idName).show()
		} else {
			$('.' + idName).hide()
		}
	}

	$(document).ready(function () {
		var counter = {% if count is defined %}{{ count }}{% else %}1{% endif %};

		$("#addrow").on("click", function (e) {
			e.preventDefault();
			$(".attributes").append(generateRow({{ attrs|safe }}, counter));
			counter++;
		});
	});

	function removerow(position) {
		console.log('Position: ' + position)
		$('.' + position + '_rowinfo').remove()
	}
</script>
{% endblock %}


{% block content %}
	<div class="container-fluid" style="font-size:150%">
		{% if error is defined %}
			{{error|safe}}
		{% endif %}

		<form action="{% if edit %}/a{{data.name}}/edit{% else %}/asset/new{% endif %}" method="POST">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<input type="hidden" name="id" value="{{ data.id }}"/>
			<div class="form-row">
				<div class="form-group col-8 col-sm-8">
					<label for="name" name="name">Asset Name</label>
					<input class="form-control" type="text" id="name" name="name" placeholder="Name" value="{{ data.name }}">
				</div>
				<div class="form-group col-3 col-sm-3">
					<label for="subtype" name="subtype">Subtype</label>
					<select class="form-control" id="subtype" name="subtype">
						{% for asset in assets %}
						<option value="{{asset}}" {% if data.subtype == asset %}selected{% endif %}>{{asset}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-1 col-sm-1">
					<label for="addrow" name="addrow">Add Row</label>
					<a class="btn btn-primary btn-block" href="#" role="button" id="addrow">Add Row</a>
				</div>
			</div>
			<div class="attributes">
				<div class="form-row">
					<div class="form-group col-1 col-sm-2">
						<label for="0_position" name="0_position">Position</label>
						<input class="form-control" type="number" id="0_position" name="0_position" value="1" readonly>
					</div>
					<div class="form-group col-3 col-sm-3">
						<label for="0_name" name="0_name">Name</label>
						<input class="form-control" type="text" id="0_name" name="0_name" value="Name" readonly>
					</div>

					<div class="form-group col-2 col-sm-2">
						<label for="0_type" name="0_type">Type</label>
						<input class="form-control" type="text" id="0_type" name="0_type" value="String" readonly>
					</div>

					<div class="form-group col-3 col-sm-5">
						<label for="0_desc" name="0_desc">Description</label>
						<input class="form-control" type="text" id="0_desc" name="0_desc" placeholder="Description">
					</div>
					<input class="form-check-input" type="checkbox" id="0_unique"    name="0_unique"   value="Unique"   hidden>
					<input class="form-check-input" type="checkbox" id="0_required"  name="0_required" value="Required" hidden checked>
					<input class="form-check-input" type="radio"    id="0_display_0" name="0_display"  value="primary"  hidden>
				</div>

				{% for attr in data.attrList %}
				<hr class="{{ attr.pos }}_rowinfo"/>
				<div class="form-row {{ attr.pos }}_rowinfo">
					<div class="form-group col-2">
						<label for="{{ attr.pos }}_position" name="{{ attr.pos }}_position">Position</label>
						<input class="form-control" type="number" id="{{ attr.pos }}_position" name="{{ attr.pos }}_position" min=2 step=1 value={{ attr.pos + 1 }} placeholder="pos">
					</div>
					<div class="form-group col-4">
						<label for="{{ attr.pos }}_name" name="{{ attr.pos }}_name">Name</label>
						<input class="form-control" type="text" id="{{ attr.pos }}_name" name="{{ attr.pos }}_name" placeholder="Name" value="{{ attr.name }}">
					</div>

					<div class="form-group col-3">
						<label for="{{ attr.pos }}_type" name="{{ attr.pos }}_type">Type</label>
						<select class="form-control" id="{{ attr.pos }}_type" name="{{ attr.pos }}_type" onchange='showListSubtypes(this, "{{ attr.pos }}_type_list");'>
							{% for val in attrs %}
							<option value="{{val}}" {% if attr.typeid == val %}selected{% endif %}>{{val}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group col-3 {{ attr.pos }}_type_list" style="{% if attr.typeid != 'List' %}display: none;{% endif %}">
						<label class="{{ attr.pos }}_type_list" for="{{ attr.pos }}_type_list" name="{{ attr.pos }}_type_list">List Type</label>

						<select class="form-control {{ attr.pos }}_type_list" id="{{ attr.pos }}_type_list" name="{{ attr.pos }}_type_list">
							{% for val in attrs %}
							{% if val != 'List' %}
							<option value="{{val}}" {% if attr.typeField == val %}selected{% endif %}>{{ val }}</option>
							{% endif %}
							{% endfor %}
						</select>

					</div>
				</div>
				<div class="form-row {{ attr.pos }}_rowinfo">
					<div class="form-group col-6">
						<label for="{{ attr.pos }}_desc" name="{{ attr.pos }}_desc">Description</label>
						<input class="form-control" type="text" id="{{ attr.pos }}_desc" name="{{ attr.pos }}_desc" placeholder="Description" value="{{ attr.desc }}">
					</div>
					<div class="form-group col-3">
						<label for="{{ attr.pos }}_default" name="{{ attr.pos }}_default">Default</label>
						<input class="form-control" type="text" id="{{ attr.pos }}_default" name="{{ attr.pos }}_default" placeholder="Default" value="{{ attr.default }}">
					</div>
					<div class="form-check form-check-inline col-1">
						<input class="form-check-input" type="checkbox" id="{{ attr.pos }}_unique" name="{{ attr.pos }}_unique" value="Unique" {% if attr.unique %}checked{% endif %}>
						<label class="form-check-label" for="{{ attr.pos }}_unique" name="{{ attr.pos }}_unique">Unique</label>
					</div>
					<div class="form-check form-check-inline col-1">
						<input class="form-check-input" type="checkbox" id="{{ attr.pos }}_required" name="{{ attr.pos }}_required" value="Required" {% if attr.required %}checked{% endif %}>
						<label class="form-check-label" for="{{ attr.pos }}_required" name="{{ attr.pos }}_required">Required</label>
					</div>
				</div>
				<div class="form-row {{ attr.pos }}_rowinfo">
					<div class="col-2">Card Display: </div>
					<div class="form-check form-check-inline col-2">
						<input class="form-check-input" type="radio" id="{{ attr.pos }}_display_1" name="{{ attr.pos }}_display" value="nodisplay" {% if attr.display == "nodisplay" %}checked{% endif %}>
						<label class="form-check-label" for="{{ attr.pos }}_display_1">No Display</label>
					</div>
					<div class="form-check form-check-inline col-2">
						<input class="form-check-input" type="radio" id="{{ attr.pos }}_display_2" name="{{ attr.pos }}_display" value="secondary" {% if attr.display == "secondary" %}checked{% endif %}>
						<label class="form-check-label" for="{{ attr.pos }}_display_2">Secondary</label>
					</div>
					<div class="form-check form-check-inline col-2">
						<input class="form-check-input" type="radio" id="{{ attr.pos }}_display_3" name="{{ attr.pos }}_display" value="tertiary" {% if attr.display == "tertiary" %}checked{% endif %}>
						<label class="form-check-label" for="{{ attr.pos }}_display_3">Tertiary</label>
					</div>
					<div class="form-check form-check-inline col-2">
						<input class="form-check-input" type="radio" id="{{ attr.pos }}_display_4" name="{{ attr.pos }}_display" value="other" {% if attr.display == "other" %}checked{% endif %}>
						<label class="form-check-label" for="{{ attr.pos }}_display_4">Other</label>
					</div>
					<button type="button" class="btn btn-primary btn-block col-1" onclick="removerow({{ attr.pos }})">Remove Row</button>
				</div>
				{% endfor %}

			</div>
			<div class="row">
				<div class="form-group col-1 col-sm-1">
					<label for="submit" name="submit">&nbsp;</label>
					<button type="submit" class="btn btn-primary btn-block" id="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
