{% extends "base.html.j2" %}

{% block nav %}
    <br />
    <div>
        |<a href="/{{symbolic}}/{{document['_id']}}">{{symbolic|capitalize}} Info</a>
        |<a href="/{{symbolic}}/{{document['_id']}}/edit">Edit {{symbolic|capitalize}}</a>
        |<a href="/{{symbolic}}/{{document['_id']}}/new">New {{material|capitalize}}</a>
        |<a href="/{{material}}/{{symbolic}}/{{document['_id']}}">{{symbolic|capitalize}} {{material|capitalize}}s</a>
        |
    </div>
{% endblock %}

{% block content %}
    <h2>{{document['name']}}</h2>
    <table class="list">
        <tr><td>Primary</td><td>{{document['primary']}}</td></tr>
        <tr><td>Secondary</td><td>{% if document['secondary'] %}{{document['secondary']}}{% else %}<i>None Set</i>{% endif %}</td></tr>
        <tr><td>Tertiary</td><td>{% if document['tertiary'] %}{{document['tertiary']}}{% else %}<i>None Set</i>{% endif %}</td></tr>
    </table>
    <br />

    <table>
        <tr><th class="key">Field</th><th style="text-align:center;">Type</th><th>Description</th><th>Parameters</th></tr>
        {% for field in document['fields'] %}
            <tr>
                <td class="key">{{field['name']}}</td>
                <td style="text-align:center;">{{field['type']}}</td>
                <td>{{field['description']}}</td>
                <td>
                    {% if field['parameters'] %}
                        {% for key, value in field['parameters'].items() %}
                            {{key | replace("_", " ") |title}}: {{value}}<br />
                        {% endfor %}
                    {% else %}
                        <i>None Set</i>
                        {# {{field['parameters']}} #}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
