{% extends "base.html.j2" %}

{% block content %}
	<a href="/thing/{{object['_id']}}"><h2 style="display:inline;">{{object['primary']}}</h2></a> 
	<a href="/asset/{{object['type']}}"><h4 style="display:inline;">({{object['symbolic']}})</h4></a>
	<table>
		{% for key, value in object.fields %}
			<tr><td><b>{{key}}:</b> {{value}}</td></tr>
		{% endfor %}
	</table>
{% endblock %}
