{% extends "base.html.j2" %}

{% block content %}
	<div>
	<a href="/thing/{{object['_id']}}"><h2 style="display:inline;">{{object['primary']}}</h2></a> 
	<a href="/asset/{{object['type']}}"><h4 style="display:inline;">({{object['symbolic']}})</h4></a>
	</div>
	<table>
		{% for key, value in object.fields %}
			<tr><td class="key"><b>{{key}}</b></td><td>{{value}}</td></tr>
		{% endfor %}
	</table>
{% endblock %}
